.inputsStyle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.inputsStyle input{
    width: 200px; 
    height: 30px; 
    border-radius: 30px;
    text-align: start; 
    padding: 0px 12px; 
    font-size: 15px;
    font-style: italic; 
    color: gray;
    /* border: none; */
    outline: none;
}

.textarea_Join {
    padding: 10px 3px;
    font-size: 14px;
    width: 100%;
    height: 370px;
    border-radius: 5px;
    outline: none;
    color: #000;
    resize: vertical; /* Allow vertical resizing only */
    background-color: #e3e0e0;
    font-style: italic;
    /* margin-bottom: .5em; */
  }
  .textarea_Join:focus {
    border-color: #555;
  }